<p>
  Years:
  <% @years.each do |y|  %>
    <%= link_to y=File.basename(y), :year => y  %>
  <% end %>
</p>
<p>
  Groupings:
  <% @grouping_list.each do |g| %>
    <%= link_to g, :grouping => g %>
  <% end %>
</p>

<hr />
